# Données CSV volumineuses (ne pas versionner)
*.csv
# Les .parquet sont versionnés car nécessaires pour Streamlit Cloud

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv
venv/

# Streamlit cache
.streamlit/

# OS
.DS_Store
Thumbs.db
